body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 131px;
}

.logo {
  padding: 40px 0;
  padding-left: 44px;
  position: relative;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: .7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
  border-radius: 50%;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
  border-radius: 50%;
}

.logo__text {
  font: bold 24px/31px pt_serifbold, arial, helvetica, sans-serif;
  position: relative;
}

#checkbox {
  opacity: 0;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.navigation__item:hover {
  color: #0056ec;
  animation: bounce 1s;
  opacity: .5;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.navigation__item_active::after {
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
  position: absolute;
}

.navigation__item:last-child {
  margin-right: 10px;
}

.main {
  padding: 74px 63% 200px 0;
  background: top right no-repeat url(img/mainImg.svg);
}

.main__title {
  margin: 0 0 40px 0;
  font: 700 66px/87px pt_serifbold, arial, helvetica, sans-serif;
  color: #000;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__text {
  max-width: 450px;
  margin: 0 0 55px 0;
  font: 400 22px/26px 'Roboto', arial, helvetica, sans-serif;
}

.main__button {
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  padding: 19px 30px;
  background: #0056ec;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

@media (max-width: 1500px) and (min-width: 1306px) {
  .wrapper {
    width: 68%;
  }

  .navigation__item {
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    margin-right: 26px;
  }

  .header {
    margin-bottom: 51px;
  }

  .navigation {
    padding-top: 9px;
  }

  .navigation__item:last-child {
    margin-right: 4px;
  }

  .main {
    padding: 46px 50% 100px 0;
    background: top 32px right no-repeat url(img/mainImg1366.svg);
  }

  .main__title {
    margin: 0 0 40px 0;
    font: 700 50px/66px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main__text {
    max-width: 356px;
    margin: 0 0 55px 0;
    font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  }

  .main__button {
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    padding: 14px 21px;
  }
}

@media (max-width: 1305px) and (min-width: 968px) {
  .wrapper {
    width: 91%;
  }

  .navigation__item {
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    margin-right: 26px;
  }

  .header {
    margin-bottom: 51px;
  }

  .navigation {
    padding-top: 9px;
  }

  .navigation__item:last-child {
    margin-right: 1px;
  }

  .main {
    padding: 46px 50% 100px 0;
    background: top 32px right no-repeat url(img/mainImg1024.svg);
  }

  .main__title {
    margin: 0 0 40px 0;
    font: 700 50px/66px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main__text {
    max-width: 356px;
    margin: 0 0 55px 0;
    font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  }

  .main__button {
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    padding: 14px 21px;
  }
}

@media (max-width: 967px) and (min-width: 768px) {
  .wrapper {
    width: 91%;
  }

  #checkbox {
    opacity: 0;
  }

  .burger__menu {
    display: flex;
    width: 25px;
    padding-top: 4px;
    border-bottom: 3px solid #0056ec;
  }

  .burger {
    display: block;
    position: relative;
    margin: 27px 23px 0 0;
    z-index: 20;
  }

  .burger::after,
  .burger::before {
    display: flex;
    position: relative;
    content: "";
    border-bottom: 3px solid #0056ec;
    padding-bottom: 4px;
  }

  #checkbox:checked ~ label .burger::before {
    position: relative;
    transform: rotate(45deg);
    top: 7px;
  }

  #checkbox:checked ~ label .burger::after {
    position: relative;
    transform: rotate(-45deg);
    top: -4px;
    right: 3px;
  }

  #checkbox:checked ~ label .burger__menu {
    border: none;
  }

  .navigation {
    display: none;
  }

  #checkbox:checked ~ .navigation {
    display: block;
    position: fixed;
    background: white;
    padding-top: 30%;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
  }

  #checkbox:checked ~ .navigation .navigation__item {
    display: block;
    font: 500 30px/35px Roboto, arial, helvetica, sans-serif;
    padding-bottom: 24px;
    width: auto;
  }

  .header {
    margin-bottom: 51px;
  }

  .main {
    padding: 46px 50% 100px 0;
    background: top 32px right no-repeat url(img/mainImg375.svg);
  }

  .main__title {
    margin: 0 0 40px 0;
    font: 700 30px/40px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main__text {
    max-width: 356px;
    margin: 0 0 55px 0;
    font: 500 16px/19px 'Roboto', arial, helvetica, sans-serif;
  }

  .main__button {
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    padding: 14px 21px;
  }
}

@media (max-width: 767px) and (min-width: 184px) {
  .wrapper {
    width: 87%;
    margin: auto;
  }

  #checkbox {
    opacity: 0;
  }

  .burger__menu {
    display: flex;
    width: 25px;
    padding-top: 4px;
    border-bottom: 3px solid #0056ec;
  }

  .burger {
    display: block;
    position: relative;
    margin: 28px 0 0 0;
    z-index: 20;
  }

  .burger::after,
  .burger::before {
    display: flex;
    position: relative;
    content: "";
    border-bottom: 3px solid #0056ec;
    padding-bottom: 4px;
  }

  #checkbox:checked ~ label .burger::before {
    position: relative;
    transform: rotate(45deg);
    top: 7px;
  }

  #checkbox:checked ~ label .burger::after {
    position: relative;
    transform: rotate(-45deg);
    top: -4px;
    right: 3px;
  }

  #checkbox:checked ~ label .burger__menu {
    border: none;
  }

  .navigation {
    display: none;
  }

  #checkbox:checked ~ .navigation {
    display: block;
    position: fixed;
    background: white;
    padding-top: 50%;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
  }

  #checkbox:checked ~ .navigation .navigation__item {
    display: block;
    font: 500 30px/35px Roboto, arial, helvetica, sans-serif;
    padding-bottom: 24px;
    width: auto;
  }

  .navigation__item_active::after {
    width: 0%;
  }

  .logo__text {
    display: none;
  }

  .header {
    margin-bottom: 31px;
  }

  .main {
    text-align: center;
    padding: 73% 0 0 0;
    background-size: 85%;
    background-position: top -9% center;
  }

  .main__title {
    margin: 0 0 44px 0;
    font: 700 30px/40px pt_serifbold, arial, helvetica, sans-serif;
    text-align: center;
    margin-bottom: 30px;
  }

  .main__text {
    max-width: 260px;
    margin: 0 auto 38px auto;
    font: 500 16px/19px 'Roboto', arial, helvetica, sans-serif;
    text-align: center;
  }

  .main__button {
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    padding: 14px 21px;
  }
}